.App {
  height: 100%;
  display: flex;
  margin-top: 30px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  margin-top: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.calculator-container {
  box-shadow: 0px 0px 15px 5px #9e9e9e;
  max-width: 300px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-container {
  height: 80px;
  display: flex;
  padding: 10px 15px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
}

.white-text {
  margin: 0;
  color: white;
}

.big-result {
  font-size: 40px;
}

.small-result {
  font-size: 15px;
  margin-bottom: 7px;
  flex: 0 0 auto;
}

.calculations-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.calculations-container::-webkit-scrollbar {
  width: 3px;
}

.calculations-container::-webkit-scrollbar-button:start:decrement,
.calculations-container::-webkit-scrollbar-button:end:increment {
  /* height: 0px; */
  display: block;
  background-color: rgb(168, 168, 168);
}
