.App {
  height: 100%;
  display: flex;
  margin-top: 50px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Calculator-container {
  width: 400px;
  background-color: white;
}
